src/conf/xml-resources/web-service-references/EchoService/wsdl/localhost_8080/wss-echo/EchoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tn="http://com.security/types" version="1.0" elementFormDefault="qualified" targetNamespace="http://com.security/types">

    
    <xs:element name="Echo" type="tn:EchoType"/>
    <xs:element name="EchoResponse" type="tn:EchoResponseType"/>
    
    
    <xs:complexType name="EchoType">
        <xs:sequence>
            <xs:element name="echoed" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
        <xs:complexType name="EchoResponseType">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
        
</xs:schema>